<div class="col-md-12">
    <div class="col-md-3">
        <p><i class="fa fa-hand-o-right fa-2x"></i> <span class="h3" style="padding-left:10px"> Shopping Store</span></p>
        <p style="font-size:0.9em">
            Nulla facilisis feugiat magna, ut molestie metus hendrerit vitae. Vivamus tristique lectus at varius rutrum. Integer lobortis mauris non consectetur eleifend.
        </p>
    </div>
    <div class="col-md-6">
        <div class="col-md-2" style="width:33%">
            <span class="h4">CUSTOMER SERVICE</span>
            <ul style="margin-top:10px" class="fa-ul">
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Order Status</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Payment Methods</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Delivery & Returns</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Privacy Policy</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="col-md-2" style="width:33%">
            <span class="h4">MY ACCOUNT</span>
            <ul style="margin-top:10px" class="fa-ul">
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">My Account</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Order History</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Wishlist</a></li>

            </ul>
        </div>
        <div class="col-md-2" style="width:33%">
            <span class="h4">MISCALLANEOUS</span>
            <ul style="margin-top:10px" class="fa-ul">
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Online Shopping</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Affiliate</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">e-gift-voucher</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">Online Cancellations</a></li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="#">FAQ</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <p><i class="fa fa-newspaper-o fa-2x"></i> <span class="h3" style="padding-left:10px">NEWSLETTER</span></p>
        <p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales and more.</p>
        <div class="col-md-12" style="padding:0px"><div class="col-md-8" style="padding:0px"><input type="text" placeholder="mail@example.com" class="form-control btn-sharp" /></div><div class="col-md-4" style="padding:0px"><button class="btn btn-sharp" style="background-color:#b71c1c;color:white">JOIN</button></div></div>
    </div>
    <div class="col-md-12 text-center">
        <span style="padding-right:5px"><i class="fa fa-cc-paypal fa-2x"></i></span>
        <span style="padding-right:5px"><i class="fa fa-google-paypal fa-2x"></i></span>
        <span style="padding-right:5px"><i class="fa fa-credit-card fa-2x"></i></span>
        <span style="padding-right:5px"><i class="fa fa-cc-visa fa-2x"></i></span>
        <span style="padding-right:5px"><i class="fa fa-cc-amex fa-2x"></i></span>
        <span style="padding:5px;" class="h2">Cash on Delivery</span>
    </div>

</div>
