@model List<SportsStore.Domain.Entities.CustomerReview>

@if (Model == null || Model.Count == 0)
{
    <span>No Review yet, Be the first one to review</span>
}
else
{
    foreach (var item in Model)
    {
        <div class="panel-body">
            <div class="col-md-12" style="background-color:#009688;color:white;padding:5px">
                <div class="col-md-7 text-left"><b>@item.ReviewSubject</b></div>
                <div class="col-md-5 text-right">
                    @for (int i = 0; i < item.Rating; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                    
                </div>
            </div>
            <div class="col-md-12" style="padding:5px;border:1px solid #009688;margin-bottom:10px">
                <div class="col-md-12" style="color:#009688;padding:5px">@item.Author</div>
                <div class="col-md-12" style="padding:10px">@item.ReviewText</div>
            </div>

        </div>
    }
}
