@model List<SportsStore.Domain.Entities.CustomerReview>

@if(Model == null || Model.Count == 0)
{
    <span>No Review yet, Be the first one to review</span>
}
else
{
    foreach (var item in Model)
    {
     <div class="panel-body">
         <p><span>@item.Author</span></p>
         <p><div id="stars-existing" class="starrr col-md-6" data-rating='@item.Rating'></div></p>
         <p>@item.ReviewSubject</p>
         <p>@item.ReviewText</p>
     </div>
    }
}
