@model SportsStore.WebUI.Models.ProductFeatureViewModelUI

@if (Model != null && Model.lstFeatureHeaderBody.Count > 0)
{
    <div class="panel-heading">
        <span style="font-size:1.45em;color:#009688">Key features</span>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.lstFeatureHeaderBody)
        {
            <div class="col-md-12" style="background-color:#009688;color:white;padding:5px"><b>@item.FeatureHeader</b></div>
            <div class="col-md-12" style="padding:5px;border:1px solid #009688;margin-bottom:10px">@item.FeatureBody</div>
        }
    </div>

    <hr />
}