@model SportsStore.Domain.ViewModels.ProductSpecificationViewModel



@foreach (var item in Model.lstProductSpecificationDetails)
{
    <div class="col-md-12" style="background-color:#009688;color:white;padding:5px"><b>@item.ProductSpecHeading</b></div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        @foreach (var subItem in item.ProductConfigurationDetails)
        {
            <tr>
                <td class="col-md-4">@subItem.SubHead</td>
                <td class="col-md-8">@subItem.SubSpec</td>
            </tr>
        }
    </table>
}