@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<div class="entry-title">
    <h5>@if (Model.CurrentCategory == null)
        {
            <span>
            <strong>Products for 'All' category</strong>
            </span>
        }
        else
        {
           
        <span>
            <strong>Products for '@Model.CurrentCategory' category</strong>
        </span>
        }

    </h5>
</div>
<div class="content-slider">
    <h1>ASP.NET MVC5 Shopping Cart</h1>
</div>
<div class="row center-middle">
    @foreach (var p in Model.Products)
    {
        @Html.Partial("ProductSummary", p)
    }
</div>
<div class="btn-group pull-right panel">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

