@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="~/Content/images/carousel-images/image1.jpg" style="width:100%;height:100%" />
                <h2>Slide 1</h2>
                <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/images/carousel-images/image2.jpg" style="width:100%;height:100%" />
                <h2>Slide 2</h2>
                <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/images/carousel-images/image3.jpg" style="width:100%;height:100%" />
                <h2>Slide 3</h2>
                <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <!-- Carousel nav class="carousel-control left"-->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<div class="entry-title">
    <h5>@if (ViewBag.SelectedCategory == null)
        {
            <span>
            <strong>Products for 'All' category</strong>
            </span>
        }
        else
        {
           
        <span>
            <strong>Products for '@ViewBag.SelectedCategory' category</strong>
        </span>
        }

    </h5>
</div>

<div class="row center-middle">
    @foreach (var p in Model.ProductsAndImages)
    {
        @Html.Partial("ProductSummary", p)
    }
</div>
<div class="btn-group pull-right panel">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { CategoryID = Model.CurrentCategoryID, page = x}))
</div>

