@model SportsStore.WebUI.Models.CheckOutViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "SportStore: Checkout";
}
<script>
    $(document).ready(function () {
        if ($('#ShippingDetailsCheckBox').prop("checked")) {
            $("#ShippingDetails").show();
        }
        else {
            $("#ShippingDetails").hide();
        }
        $('#ShippingDetailsCheckBox').click(function () {
            if ($(this).prop("checked") == true) {
                $("#ShippingDetails").fadeIn(200);
            }
            else if ($(this).prop("checked") == false) {
                $("#ShippingDetails").fadeOut(200);
            }
        });
    });
</script>
<h2>CHECK OUT</h2>
@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
{
    if (!User.Identity.IsAuthenticated)
    {
        <div class="col-md-12 col-xs-12" style="background-color:#4CAF50;color:white;padding:10px 10px 10px 15px">
            <span>Returning customer? @Html.ActionLink("Click here to login", "Login", new { controller = "Account", returnUrl = Request.Url.PathAndQuery }, new { style = "color:yellow" }) or else you can continue to checkout as guest</span>
        </div>
        @Html.Partial("Partial/_CustomerAddressFillForm", Model)
    }
    else
    {
        <div class="col-md-12 col-xs-12" style="background-color:#4CAF50;color:white;padding:10px 10px 10px 15px">
            <span>Please select/enter the delivery address</span>
        </div>

        @Html.Action("AuthenticatedAddressCheckoutForm", new { CustomerID = User.Identity.GetUserId() })
    }

    <div class="col-md-12 col-xs-12">
        <div class="col-md-12 text-left"><h3>YOUR ORDER</h3></div>
        <div class="col-md-12 col-xs-12 no-padding">
            <div class="col-md-12 text-left btn-green">
                <h5>ORDER SUMMARY</h5>
            </div>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tr><td class="col-md-6">Order Subtotal</td><td><i class="fa fa-rupee"></i>25,248.00</td></tr>
                <tr><td class="col-md-6">Handling and Shipping</td><td>Free Shipping</td></tr>
                <tr><td class="col-md-6">Order Total</td><td><i class="fa fa-rupee"></i>25,248.00</td></tr>
            </table>
        </div>

    </div>
    <div class="col-md-12">
        <div class="bs-example">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Direct Bank Transfer</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Cheque Payment</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                PayPal
                                <img src="~/Content/images/cart-image-icons/paypal_objects.png" />
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 text-center">
        <button class="btn btn-sharp btn-quickview" type="submit">
            PLACE ORDER
        </button>
    </div>
}

