#CenteredContent {
    max-width: 1280px;
    margin: auto;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    margin-bottom: 70px;
}

body {
    padding-top: 70px;
}

.entry-title {
    background: none repeat scroll 0% 0% #009688;
    margin: auto 0px 30px 0px;
    width: 100%;
    float: left;
    color: #009688;
}

    .entry-title span {
        color: #009688;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        font-family: 'PT Sans',sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        background: none repeat scroll 0% 0% rgb(255, 255, 255);
    }

    .entry-title h5 {
        line-height: 13px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

.navbar-text {
    color: white;
}

.col-md-3 {
    width: 23%;
}

.col-sm-3 {
    width: 23%;
}

.thumbnail {
    border: 2px solid #ddd;
    height: 390px;
    width: 230px;
}

    .thumbnail:hover {
        border: 2px solid #f09614;
    }

    .thumbnail .caption {
        height: 135px;
        width: 100%;
        overflow: hidden;
    }



.drop-down-font {
    color: #fff;
}

.content-slider {
    width: 100%;
    height: 300px;
    border: 3px solid #00B5E2;
    margin-top: 5px;
    color: rgb(0, 181, 226);
    padding: 10px;
    text-align: center;
}

.tempText {
    color: rgb(0, 181, 226);
    padding: 10px;
}

.content-slider span {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

/*/*on hover animation thumbnail
.slideDownCaption{
    text-align:center
}
.slideDownCaption span{
    line-height: 300px
}*/
.clampString {
    height: 50px;
}


.item {
    background: #00B5E2;
    text-align: center;
    height: 300px !important;
}

.carousel {
    margin-bottom: 20px;
    margin-top: 20px;
}


.bs-example h2 {
    margin: 0px;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

.btn-sharp {
    border-radius: 0;
}

.btn-default {
    color: blue;
}

.product-pallete {
    min-height: 300px;
    color: #004d40;
    border-bottom: 1px solid green;
}
/*CSS styles for the review ratings*/

.product-pallete-reviewStrip {
    /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top left, #FF5722 0%, #BF360C 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #FF5722 0%, #BF360C 100%);
    /* Opera */
    background-image: -o-linear-gradient(top left, #FF5722 0%, #BF360C 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FF5722), color-stop(1, #BF360C));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #FF5722 0%, #BF360C 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom right, #FF5722 0%, #BF360C 100%);
    padding: 5px;
    color: white;
}
