#CenteredContent {
    max-width: 1280px;
    min-height: 502px;
    margin: auto;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    margin-bottom: 70px;
}

body {
    padding-top: 70px;
}

.entry-title {
    background: none repeat scroll 0% 0% #009688;
    margin: auto 0px 30px 0px;
    width: 100%;
    float: left;
    color: #009688;
}

    .entry-title span {
        color: #009688;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        font-family: 'PT Sans',sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        background: none repeat scroll 0% 0% rgb(255, 255, 255);
    }

    .entry-title h5 {
        line-height: 13px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

.navbar-text {
    color: white;
}

.col-md-3 {
    width: 23%;
}

.col-sm-3 {
    width: 23%;
}

.thumbnail {
    border: 2px solid #ddd;
    height: 390px;
    width: 230px;
}

    .thumbnail:hover {
        border: 2px solid #f09614;
    }

    .thumbnail .caption {
        height: 135px;
        width: 100%;
        overflow: hidden;
    }



.drop-down-font {
    color: #fff;
}

.content-slider {
    width: 100%;
    height: 300px;
    border: 3px solid #00B5E2;
    margin-top: 5px;
    color: rgb(0, 181, 226);
    padding: 10px;
    text-align: center;
}

.tempText {
    color: rgb(0, 181, 226);
    padding: 10px;
}

.content-slider span {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

/*/*on hover animation thumbnail
.slideDownCaption{
    text-align:center
}
.slideDownCaption span{
    line-height: 300px
}*/
.clampString {
    height: 50px;
}


.item {
    background: #00B5E2;
    text-align: center;
    height: 300px;
}

.carousel {
    margin-bottom: 20px;
    margin-top: 20px;
}


.bs-example h2 {
    margin: 0px;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

.btn-sharp {
    border-radius: 0;
}

.btn-default {
    color: blue;
}

.product-pallete {
    min-height: 300px;
    color: #004d40;
    border-bottom: 1px solid green;
}
/*CSS styles for the review ratings*/

.product-pallete-reviewStrip {
    /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top left, #FF5722 0%, #BF360C 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #FF5722 0%, #BF360C 100%);
    /* Opera */
    background-image: -o-linear-gradient(top left, #FF5722 0%, #BF360C 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FF5722), color-stop(1, #BF360C));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #FF5722 0%, #BF360C 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom right, #FF5722 0%, #BF360C 100%);
    padding: 5px;
    color: white;
}

/*Styles for Product Quick View page Slider*/
/* CSS used here will be applied after bootstrap.css */
#carousel {
    margin-top: 20px;
}

.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}

    .item .thumb img, .item img {
        width: 100%;
    }

.auto-height {
    height: auto;
}

.no-top-margin {
    margin-top: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

/*Footer styles*/
.footer-color {
    background-color: #0d47a1;
    padding: 20px;
    color: white !important;
}

.footer-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.footer-container-content {
    padding: 0px 10px 10px 20px;
}

/*Custom button colors*/
.btn-addtocart {
    background-color: #4caf50;
    color: white;
}

.btn-quickview {
    background-color: #01579b;
    color: white;
}
/*Experimental Slider CSS Rules starts here*/
aside #myCarousel {
    margin-top: -1px;
}

.carousel-caption {
    position: absolute;
    z-index: 10;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 20%;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 80px;
    color: #fff;
    text-shadow: none;
    text-align: left;
}

.carousel-inner {
    z-index: 9;
    height: 300px;
}

.carousel-content-wrapper {
    display: table;
    width: 100%;
    height: 45%;
    vertical-align: middle;
}

.carousel-content {
    display: table-cell;
    vertical-align: middle;
}

.carousel {
    background-color: #116a97;
}

    .carousel.normal {
        background-color: transparent;
    }

    .carousel .item img {
        opacity: .9;
        filter: alpha(opacity=90);
    }

    .carousel .item {
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
    }

    .carousel .active.left,
    .carousel .active.right {
        z-index: 1;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .carousel .carousel-control {
        z-index: 999;
    }

    .carousel .next,
    .carousel .prev {
        z-index: 999;
        left: 0;
    }
/* Carousel Control */

.carousel-control {
    top: 43%;
    font-size: 48px;
}
/* Animation */

.carousel-indicators {
    bottom: 50px;
}

/* Removing BS background */

.carousel .control-box {
    opacity: 0;
    filter: alpha(opacity=0);
}

a.carousel-control.left {
    left: 0;
    display: table;
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid #fff;
    border-radius: 60px;
    text-shadow: none;
    font-size: 26px;
    line-height: 0;
    text-align: center;
    left: 5%;
}

    a.carousel-control.left i {
        display: table-cell;
        vertical-align: middle;
    }

a.carousel-control.right {
    right: 0;
    display: table;
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid #fff;
    border-radius: 60px;
    text-shadow: none;
    font-size: 26px;
    line-height: 0;
    text-align: center;
    right: 5%;
}

    a.carousel-control.right i {
        display: table-cell;
        vertical-align: middle;
    }
/* Hover animation */

.carousel:hover .control-box {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel a.carousel-control.left,
.carousel a.carousel-control.right {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.carousel:hover a.carousel-control.left {
    left: 15%;
}

.carousel:hover a.carousel-control.right {
    right: 15%;
}
/* Carouse Indicator */

.carousel-indicators li.active {
    width: 14px;
    height: 14px;
    margin: 1px 2px;
    background: transparent;
}

.carousel-indicators li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 1px 2px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    text-indent: -999px;
    cursor: pointer;
}

    .carousel-indicators li .carousel-indicators-inner {
        display: none;
    }

    .carousel-indicators li.active .carousel-indicators-inner {
        display: block;
        width: 10px;
        height: 10px;
        margin-top: 1px;
        margin-left: 1px;
        background: #fff;
    }
/* slider content */
.slide-content h1,
.slide-content h6,
.slide-content p {
    margin: 0;
    line-height: 65px;
}

.slide-content h1 {
    font-size: 51px;
}

.slide-content p,
.slide-content h6 {
    font-size: 28px;
}

    .slide-content h1 strong,
    .slide-content h6 strong,
    .slide-content p strong {
        font-weight: 900;
    }

.slide-content a.btn {
    margin-top: 20px;
}

/*Category slide content */
#myCarousel_shop .carousel-caption .slide-content h4 {
    font-size: 50px;
    font-weight: 900;
    line-height: 48px;
}

#myCarousel_shop .carousel-caption .slide-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

#myCarousel_shop .carousel-caption .slide-content h6 {
    font-size: 28px;
    font-weight: 700;
}

/*Boxed Version Slider Content */
.main-wrap .carousel-caption {
    left: 12%;
}

.main-wrap .carousel:hover a.carousel-control.left {
    left: 5%;
}

.main-wrap .carousel:hover a.carousel-control.right {
    right: 5%;
}

.main-wrap a.carousel-control.left,
.main-wrap a.carousel-control.right {
    width: 30px;
    height: 30px;
}

#thumbcarousel .carousel-inner {
    height: auto;
}

.quickview-carousel-control {
    color: blue;
}
/*Experimental Slider CSS Rules ends here*/

/*Related products advertisement style*/
.related-product-pallete {
    border: 2px solid white;
    height: 125px;
    margin-top: 20px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    text-align: center;
}

.starratings-color-blue {
    color: #304FFE;
    padding-left: 5px;
    padding-right: 5px;
}

.ratings {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding: 10px;
    margin-bottom: 10px;
    height: auto;
}

.grey-background {
    background-color: #F6F6F6;
}

.cart-action-control {
    /*border-bottom:1px solid #F6F6F6;
    padding-bottom:10px;
    margin-bottom:10px;*/
}

.btn-red {
    background-color: #F44336;
    color: white;
}

.btn-blue {
    background-color: #0D47A1;
    color: white;
}

.btn-green {
    background-color: #43A047;
    color: white;
}

.btn-lightblue {
    background-color: #2196F3;
    color: white;
}

.no-padding {
    padding: 0px;
}

.padding-10 {
    padding: 10px;
}

.cart-button-padding {
    padding: 3px 0px 3px 0px;
}
/*Disable number spinner*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.product-slider-controls {
    width: 30px;
    background-color:#4CAF50;
    color: white;
    font-size: 15px;
    padding:9px 10px 9px 10px;
    cursor: pointer;
}
.showcase-thumbnail {
    padding:5px;
    border: 2px solid #ddd;
    height: 350px;
    width: 230px;
}

    .showcase-thumbnail:hover {
        border: 2px solid #f09614;
    }

    .showcase-thumbnail .showcase-caption {
        height: 90px;
        width: 100%;
        overflow: hidden;
    }
 
/*Custom Navigation bar start*/
.navbar-custom {
    color: white;
}

    .navbar-custom .navbar-nav > .active > a {
        background-color:white;
        -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
        box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-nav > li > a {
        color:white;
        
    }

    #navbar-container {
    width:100%;
    height:50px;
    margin:0 auto;
}

#navbar-container div {
    position:relative;
    height:100%;
    float:left;
}

#navbar-brand-container {
    background:#1565C0;
    width:calc(50% + 15px);
}
#navbar-brand-container:after {
    content:"";
    position:absolute;
    right:0;
    border-right:50px solid #0D47A1 ;
    border-top:60px solid transparent;
}

#navbar-user-info {
    background:#0D47A1;
    width:calc(50% - 15px);
}

/*Custom Navigation bar ends*/
