@model List<SportsStore.Domain.Entities.ProductCategory>
@using SportsStore.Domain.Entities
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Edit Product Category Relations</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            foreach (var item in ViewBag.categories as List<Category>)
            {
                if()
                {
                    
                }
            }
        }
    </div>
    <div class="panel-footer">
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>





