@model List<SportsStore.WebUI.Models.ProductSpecificationDetails>
@{
    ViewBag.Title = "ProductSpecification";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Product Specification Edit Page</h2>
    </div>

    @using (Html.BeginForm("Edit", "ProductSpecification", FormMethod.Post, new { id = "ProductSpecificationEditForm", @class = "form-horizontal" }))
    {
        for (int iterator = 0; iterator < Model.Count(); iterator++)
        {
            if (Model[iterator] != null)
            {
                ViewBag.TableIndexNo = "SpecificationList_" + Model[iterator].ProductSpecOrder;
                ViewBag.ButtonAddIndex = "btnAddRow_" + Model[iterator].ProductSpecOrder;
                ViewBag.TableIndexNoJSID = "#" + ViewBag.TableIndexNo as String;
                ViewBag.ButtonAddIndexJSID = "#" + ViewBag.ButtonAddIndex as string;
                ViewBag.Iterator = iterator;
                <div class="panel-body">
                    <hr />
                    @Html.Partial("Partial/ProductSpecification", Model[iterator])
                    <hr />
                </div>
            }
        }
        @*foreach (var item in Model)
        {
            if (item != null)
            {
                ViewBag.TableIndexNo = "SpecificationList_" + item.ProductSpecOrder;
                ViewBag.ButtonAddIndex = "btnAddRow_" + item.ProductSpecOrder;
                ViewBag.TableIndexNoJSID = "#" + ViewBag.TableIndexNo as String;
                ViewBag.ButtonAddIndexJSID = "#" + ViewBag.ButtonAddIndex as string;

                <div class="panel-body">
                    <hr />
                    @Html.Partial("Partial/ProductSpecification", item)
                    <hr />
                </div>
            }
        }*@
    }
    <div class="panel-footer">
        <input type="button" id="btnAddTbl" value="Add new Table" class="btn-primary" style="margin:5px" />
        <p>
            <input id="submit" type="submit" value="Save" class="btn-primary" style="margin:5px" />
        </p>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btnAddTbl").click(function (e) {
            var itemIndex = $("#SpecificationList tr").length;
            var itemTables = $("#ProductSpecificationEditForm").find("table").length;
            e.preventDefault();
            console.debug("Table ItemIndex = " + itemIndex);
            console.debug("Table Number = " + itemTables);
            $.get('@Url.Action("NewSpecificationTable", "ProductSpecification")/?TableIndex=' + itemTables, function (data) {
                $('#ProductSpecificationEditForm').append(data);
            });
        });
    });
    $(function () {
        $("#submit").click(function (e) {
            $("#ProductSpecificationEditForm").submit();
        });
    });
</script>
